

*{
    box-sizing: border-box;
    color: #2c2c2c;
    font-family: Arial, Helvetica, sans-serif;
    
   
}


.container {
    padding: 20px 30px 0px 0px;
}


ul{
    list-style : none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    
}

a{
    text-decoration: none;
}

.header {
    width: 98%;
    margin: 0 auto;
    height: 70px;
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    
    
    
}

.header_logo{
    float: right;
}

.header_logo img{
    width: 30px;
    height: auto;
}


.header-elements {
    float: left;
    margin-right: 15px;
    
}

.main {
    padding: 20px;
}

.header-elements li{
    display: inline-block;
    padding: 4px 10px;
    
}

.header-elements li:hover{
    background-color: #dfdfdf;
    border-radius: 8px;
}

