@font-face {
    font-family: vazir;
    src: url("../font/Vazirmatn/Vazirmatn-VariableFont_wght.ttf");
}


*{
    box-sizing: border-box;
    color: #2c2c2c;
    font-family: vazir;
    
   
}


.container {
    padding: 20px 30px 0px 0px;
}


ul{
    list-style : none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    
}

a{
    text-decoration: none;
}

.header {
    width: 98%;
    margin: 0 auto;
    height: 70px;
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
    
    
    
}

.header_logo{
    float: right;
}

.header_logo img{
    width: 30px;
    height: auto;
}


.header-elements {
    float: right;
    margin-right: 15px;
    
}

.main {
    padding: 20px;
}

.header-elements li{
    display: inline-block;
    padding: 4px 10px;
    
}

.header-elements li:hover{
    background-color: #d4d3d3;
    border-radius: 8px;
}

.login_btn {
    background: rgb(250, 20, 154) ;
    background: linear-gradient(90deg,rgb(255, 213, 98)0%,rgb(254, 86, 128)100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.signup_btn {
    background: rgb(0, 203, 193) ;
    background: linear-gradient(90deg,rgb(57, 214, 234)0%,rgb(0, 128, 208)100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    cursor: pointer;
    
}

.login_btn:hover{
    background-color: #00b2f2;
}

.signup_btn:hover{
    background-color: #f503a8;
}


.page_info {
    width: 98%;
    height: 300px;
    background: rgb(20,20,250) ;
    background: linear-gradient(90deg,rgb(50, 200, 172)0%,rgb(0, 159, 208)100%);
    margin-left: 15px;
    margin-top:20px;
    border-radius: 12px;
}

.page_info_r{
    width: 50%;
    height: 200px;
    /* float: right; */
    background-color: #434343;
}